{% extends "layout.html" %}
{% block content %}

	<div id="caption">
    <span>REIKI - HEALING - MEDITATION</span>
  </div>
  <div class="sectionOdd">
    <div class="article">
    	<div class="articleHeading">
    		<span>What is reiki ?</span><hr>
    	</div>
    	<p>
    		<q>
    			 Reiki is a spiritual healing art with its roots in Japanese origin. The word Reiki comes from the Japanese word (Rei) which means “Universal Life” and (Ki) which means “Energy”. Reiki is not affiliated with any particular religion or religious practice. It is not massage nor is it based on belief or suggestion. It is a subtle and effective form of energy work using spiritually guided life force energy. 
    		</q>
    	</p>
    	<a class="btn btn-info " href="" role="button">Learn more</a>
    </div>
  </div>
  <div class="sectionEven">
    <div class="article">
    	<div class="articleHeading">
    		<span>Easy to learn</span><hr>
    	</div>
    	<p>
    		<q>
    			  Reiki is the life energy that flows through all living things. Reiki Practitioners understand that everyone has the ability to connect with their own healing energy and use it to strengthen energy in themselves and help others. It is believed that a person’s “ki” or energy should be strong and free flowing. When this is true a person’s body and mind is in a positive state of health. When the energy becomes weak or blocked it could lead to symptoms of physical or emotional imbalance.  
    		</q>
    	</p>
    	<a class="btn btn-info " href="" role="button">Learn more</a>
    </div>
  </div>
  <div class="sectionOdd">
    <div class="article">
    	<div class="articleHeading">
    		<span>Crystal Healing</span><hr>
    	</div>
    	<p>
    		<q>
    			 Crystal healing is an alternative medical technique in which crystals and other stones are used to cure ailments and protect against disease. Proponents of this technique believe that crystals act as conduits for healing — allowing positive, healing energy to flow into the body as negative, disease-causing energy flows out.  
    		</q>
    	</p>
    	<a class="btn btn-info " href="" role="button">Learn more</a>
    </div>
  </div>

 {% endblock content %}